// Loader styles

/* loader */
#loader-wrapper {
    position: fixed;
    display: inline-grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 40% 10% 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
    background: #ffffff;    
  }
  
/* After Load */
.loaded #loader-wrapper {
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

h1{
    margin-right: 10px;
}

#init {
    display: flex;
    overflow: hidden;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#connect-group,
#build-group{
    height: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

#loader{
    width: 100%;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.connected #loader{
    transform: translate(0%, -50%);
}
.connected #connect-group{
    opacity: 0;
}
